{% extends 'base.html.twig' %}
{% block ab %}
    <div class="container col-md-6 "name="" style="margin-left: 250px">
    <h1 class="page-header">Create Stagiaire</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}